@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --font: 'IBM Plex Sans Arabic', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  direction: rtl;
  font-family: var(--font) !important;
}

input {
  font-size: 16px !important;
  box-shadow: none !important;
}

.overflow {
  overflow-x: auto !important;
}

.text-center {
  text-align: center;
}

.generate-report-form {
  display: block;
  margin: auto;
  text-align: center;  
}


.generate-report-form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.generate-report-form > div label {
  display: flex;
  width: 10%;
}

.generate-report-form > div input {
  width: 20%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

@media screen and (max-width:762px) {
  .generate-report-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .generate-report-form > div label {
    display: flex;
    width: 100%;
  }
  
  .generate-report-form > div input {
    width: 95%;
  }
}

.divider {
  width: 100%;
  margin: inherit;
}

.mt-4 {
  margin-top: 2rem;
}